name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          # Esto guarda tus librerías para que el próximo build sea veloz
          cache: 'gradle'

      - name: Dar permisos a gradlew
        run: chmod +x gradlew

      - name: Construir y Probar
        # Usamos 'build' directamente porque incluye la ejecución de tests
        run: ./gradlew build